.historia p {
    font-size: 20px;
}


.comisionn img {
    max-width: 100%;
    /* Ajustar imagen al ancho máximo */
    height: auto;
    /* Ajustar altura automáticamente */
    /*border-radius: 50%;*/
    /* Estilo de borde circular */

}

.historia p{
    display: flex;
    /*justify-content: center;*/
    align-items: left;
    border: 1px solid black;
    background-color: lightgreen;
    padding: 20px;
    font-family: Verdana;
  }
  

.comisionn img {
    
        width: 698px;
        height: 891px;
    
      
}